.recipe {
  @apply flex justify-center pt-28 px-4 sm:pt-32 md:pt-36 lg:pt-40 lg:px-20 mx-auto;
}
.recipe main {
  @apply rounded-t-lg overflow-hidden shadow-xl lg:shadow-2xl lg:w-3/4;
}
.recipe h1 {
  @apply mt-4 text-2xl px-3 text-gray-700 font-bold lg:px-7;
}
.recipe .description {
  @apply px-3 text-base leading-5 tracking-tight text-justify text-gray-600 lg:px-7;
}
.recipe--image {
  @apply object-cover w-full h-64 mx-auto;
}
@media (min-width: 640px) {
  .recipe--image {
    height: 18rem;
  }
}
@media (min-width: 768px) {
  .recipe--image {
    height: 21rem;
  }
}
@media (min-width: 1024px) {
  .recipe--image {
    height: 25rem;
    /* max-width: 900px; */
  }
}
.recipe .meta {
  @apply my-3 px-3 text-gray-500 flex justify-between items-center lg:px-7;
}
.recipe .meta .user {
  @apply flex items-center lg:px-7;
}
.recipe .meta .user img {
  @apply w-12 h-12 mr-3 rounded-full object-cover;
}
.recipe .meta .user a {
  @apply underline font-medium;
}
.recipe .rating {
  @apply lg:px-7;
}
.recipe .ingredients {
  @apply px-3 lg:px-7;
}
.recipe .ingredients h3,
.recipe .instructions h3,
.recipe .comments h3 {
  @apply text-xl font-bold text-gray-700;
}
.recipe .ingredients h3 + p,
.recipe .instructions h3 + p,
.recipe .comments h3 + p {
  @apply text-xs mb-4 text-gray-500;
}
.recipe .instructions {
  @apply px-3 my-4 lg:px-7;
}
.recipe .comments {
  @apply px-3 mb-8 lg:px-7;
}
.recipe .comments h3 {
  @apply mb-4;
}
.recipe .comments h3 span {
  @apply font-light;
}
