.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar-left {
  margin-left: 25px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-center a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-center img {
  width: 100px;
}

.navbar-right {
  margin-right: 25px;
}

.navbar-aside-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: background-to-black 0.4s linear both;
}

.navbar-aside {
  position: absolute;
  height: 100vh;
  width: 50vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding-top: 150px;
}

.navbar-aside .material-icons {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-aside a {
  text-decoration: none;
  color: black;
  padding: 12px 8px 8px 30px;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.slide-animation {
  animation: slide-from-left 0.4s linear both;
}
.slide-animation-back {
  animation: slide-to-left 0.4s linear both;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}

@keyframes background-to-black {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
  }
}
